html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}


body {
    background-color: #CCCACD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    width: 300px;
    height: 600px;;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    margin: 0 30px;
}

.btn {
    border: none;
    background-color: #4C8BC0;
    border-radius: 3%;
    margin: 15px 0;
    box-shadow: 4px 4px 5px #807f8072 ;
    flex: 1 0 auto;   
}

.btn-txt {
    color: #fff;
    font-size: 200%;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}


.master-container {
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 5px #807f8072 ;
}

.row {
    display: flex;
    flex: 1;
}

.element {
    background-color: white;
    border: 0.5px solid #2222220f;
    flex-grow: 1;
    align-items: stretch;

}




