html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body, .row, .master-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(30, 50, 67);
  height: 100vh;
  border: 2px solid white;
  flex-direction: column;
}

.master-container {
  min-width: 500px;
  min-height: 500px;
  padding: 0;
  flex-direction: column;
  border: 1px solid white;
}

.row {
  /* padding: 0;
  margin: 0; */
}

.element {
  /* margin: 0; */
  background-color: white;
}

.prompt {
  background-color: white;
  color: rgb(30, 50, 67);
  margin: 50px;
}

