html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

body, .grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(30, 50, 67);
  border: 1px solid red;
}


.grid-container {
  width: 320px;
  height: 320px;
  flex-wrap: wrap;
}

.grid-element {
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid black;
  margin: 0;
}